runs/
*.pt
videos/
__pycache__/
wandb/
models/time-series-transformer/
models/time-series-transformer-traffic/
models/time-series-transformer-btc*
data/

*.sqlite
*.sqlite-shm
*.sqlite-wal

user_data/backtest_results/
